<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main.ejs</title>
</head>
<body>
    <h1>main page</h1>
    <h3>Welcome, <%= id %> 번째 가입 고객님!!</h3>
    <p>Lorem, ipsum dolor sit amet consectetur 
    adipisicing elit. Unde doloribus itaque 
    esse nemo assumenda voluptate nostrum corrupti
    deserunt ea accusantium, nesciunt maiores dignissimos,
    repellat, officiis culpa. Possimus nobis repellat id!</p>
    
    <script src="main.js"></script>
    
</body>
</html>